
#recommendations {
  text-align: center;
  margin-top: 2em;
}

#recommended-products {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.product {
  border: 1px solid #ddd;
  padding: 1em;
  background-color: white;
  width: 200px;
  text-align: center;
}
.logo{
  font-size: 50px;
  text-align: center;
}